## **IMPORTS**

In [15]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# **===================== Import dataset =====================**
data = pd.read_csv('../datasets/products_HM_cleaned.csv')

In [8]:
data.sample(5)

,product_id,product_category,product_name,product_price,scrapy_datetime,style_code,color_id,color_name,fit,size_model,size_number,cotton,polyester,elastane,elasterell
238,751994009,men_jeans_slim,slim_jeans,29.99,2021-09-30 09:51:16,751994,9,black_denim,slim_fit,NaN,NaN,0.98,0.00,0.02,0.0
99,1013317004,men_jeans_regular,hybrid_regular_tapered_joggers,39.99,2021-09-30 09:51:16,1013317,4,light_denim_blue,regular_fit,189.0,NaN,0.78,0.21,0.01,0.0
427,931747003,men_jeans_regular,regular_tapered_jeans,29.99,2021-09-30 09:51:16,931747,3,denim_blue,regular_fit,NaN,NaN,0.99,0.00,0.01,0.0
359,811993031,men_jeans_regular,regular_jeans,29.99,2021-09-30 09:51:16,811993,31,denim_blue,regular_fit,NaN,NaN,0.99,0.00,0.01,0.0
243,865734005,men_jeans_relaxed,relaxed_tapered_pull-on_jeans,29.99,2021-09-30 09:51:16,865734,5,gray,relaxed_fit,NaN,NaN,1.00,0.00,0.00,0.0

In [9]:
data.dtypes

product_id            int64
product_category     object
product_name         object
product_price       float64
scrapy_datetime      object
style_code            int64
color_id              int64
color_name           object
fit                  object
size_model          float64
size_number          object
cotton              float64
polyester           float64
elastane            float64
elasterell          float64
dtype: object

In [13]:
query_showroom_schema = """
    CREATE TABLE showroom (
        product_id         INTEGER,
        product_category   TEXT,
        product_name       TEXT,
        product_price      REAL,
        scrapy_datetime    TEXT,
        style_code         INTEGER,
        color_id           INTEGER,
        color_name         TEXT,
        fit                TEXT,
        size_model         REAL,
        size_number        TEXT,
        cotton             REAL,
        polyester          REAL,
        elastane           REAL,
        elasterell         REAL    
    )
"""

In [14]:
# Connect to DataBase
conn = sqlite3.connect('hm_db.sqlite3')
cursor = conn.execute(query_showroom_schema)
conn.commit()
conn.close()

In [16]:
conn = create_engine('sqlite:///hm_db.sqlite3', echo = False)

In [19]:
# Insert data
data.to_sql('showroom', con = conn, if_exists = 'append', index = False)

In [20]:
query = """
    SELECT *
    FROM showroom
"""
df = pd.read_sql_query(query, conn)
df.head()

,product_id,product_category,product_name,product_price,scrapy_datetime,style_code,color_id,color_name,fit,size_model,size_number,cotton,polyester,elastane,elasterell
0,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-09-30 09:51:16,690449,22,gray,skinny_fit,187.0,32/32,0.98,0.0,0.02,0.0
1,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-09-30 09:51:16,690449,22,denim_blue,skinny_fit,NaN,None,0.98,0.0,0.02,0.0
2,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-09-30 09:51:16,690449,22,light_denim_blue,skinny_fit,NaN,None,0.98,0.0,0.02,0.0
3,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-09-30 09:51:16,690449,22,black_washed_out,skinny_fit,NaN,None,0.98,0.0,0.02,0.0
4,690449022,men_jeans_ripped,skinny_jeans,39.99,2021-09-30 09:51:16,690449,22,white,skinny_fit,NaN,None,0.98,0.0,0.02,0.0